{
  "swagger": "2.0",
  "info": {
    "description": "This is the Auth service",
    "version": "0.1.0",
    "title": "Auth",
    "termsOfService": "http://api.ramsy.dev/terms/",
    "contact": {
      "email": "api@ramsy.dev"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.ramsy.dev",
  "basePath": "/auth",
  "tags": [
    {
      "name": "user",
      "description": "Everything about users",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://ramsy.dev"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/signup": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Signs up a user",
        "description": "",
        "operationId": "signupUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/signin": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Signs in a user",
        "description": "",
        "operationId": "signinUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "description": "The email address of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "body",
            "description": "The password of the user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Invalid is supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/signout": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Signs out a user",
        "description": "",
        "operationId": "signoutUser",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Invalid is supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/currentuser": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Gets the current user",
        "description": "",
        "operationId": "currentUser",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Invalid is supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "passwor": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about ramsy-dev",
    "url": "https://ramsy.dev"
  }
}