{
  "swagger": "2.0",
  "info": {
    "description": "This is the Payment service",
    "version": "0.1.0",
    "title": "Payments",
    "termsOfService": "http://api.ramsy.dev/terms/",
    "contact": {
      "email": "api@ramsy.dev"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.ramsy.dev",
  "basePath": "/api/payments",
  "tags": [
    {
      "name": "payment",
      "description": "Everything about your Payments",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://ramsy.dev"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Creates a payment",
        "description": "",
        "operationId": "createPayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of payment object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Payment"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/{paymentId}": {
      "get": {
        "tags": [
          "payment"
        ],
        "summary": "Get payment by id",
        "description": "",
        "operationId": "getPaymentById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id that needs to be fetched. Use payment1 for testing. ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          },
          "400": {
            "description": "Invalid od supplied"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      },
      "put": {
        "tags": [
          "payment"
        ],
        "summary": "Updated payment",
        "description": "This can only be done by the logged in user.",
        "operationId": "updatePayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "name that need to be updated",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated payment object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid payment supplied"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      },
      "delete": {
        "tags": [
          "payment"
        ],
        "summary": "Delete payment",
        "description": "This can only be done by the logged in user.",
        "operationId": "deletePayment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id that needs to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid id supplied"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Payment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about ramsy-dev",
    "url": "https://ramsy.dev"
  }
}